@import "../node_modules/bootstrap/scss/bootstrap.scss";

#resultadoDet{
    min-height: 35px;
}

#tiempoRestante{
    min-height: 35px;

}
.cajas{
    min-width: 320px;
    min-height: 80vh;
}
footer{
    position: relative;
    bottom: 0px;
}

#reset{
    min-width: 400px;
    min-height: 50px;
}

p li{
    text-align: center;
    font-size: 0.6rem;
    margin: 0px;
}
li{
    text-align: start;
    font-size: 0.6rem;
    margin: 0px;
}
div{
    font-size: 0.8rem;
}